<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dave.admin.mapper.AlgMapper">
    <select id="getAlg" resultType="com.dave.admin.bean.Alg">
        select * from alg where id=#{id}
    </select>
</mapper>